<?xml version="1.0" encoding="UTF-8"?>
<!--
 UrlRsrc - fetch an URL (file) resource result

 This file is part of UrlRsrc.

 author    Kjell-Inge Gustafsson, kigkonsult <ical@kigkonsult.se>
 copyright 2020-2024 Kjell-Inge Gustafsson, kigkonsult, All rights reserved
 link      https://kigkonsult.se
 license   Subject matter of licence is the software UrlRsrc.
           The above copyright, link and this licence notice shall be
           included in all copies or substantial portions of the UrlRsrc.

           UrlRsrc is free software: you can redistribute it and/or modify
           it under the terms of the GNU Lesser General Public License as
           published by the Free Software Foundation, either version 3 of
           the License, or (at your option) any later version.

           UrlRsrc is distributed in the hope that it will be useful,
           but WITHOUT ANY WARRANTY; without even the implied warranty of
           MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
           GNU Lesser General Public License for more details.

           You should have received a copy of the GNU Lesser General Public License
           along with UrlRsrc. If not, see <https://www.gnu.org/licenses/>.
-->
<phpunit backupGlobals="false"
         colors="true"
         cacheResult="false"
         executionOrder="default"
         processIsolation="true"
         resolveDependencies="false"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="UrlRsrc Tests">
            <file>test/UrlRsrcTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>src/UrlRsrc.php</file>
        </include>
    </source>
    <coverage
            includeUncoveredFiles="false"
            disableCodeCoverageIgnore="true">
        <!-- Require the PHP Xdebug (2.7.0 or later) and tokenizer extensions-->
        <!-- Remove or comment after your own choice-->
        <!-- Note, all output in report/logging will be saved in 'testDocs' folder -->
        <report>
            <!-- clover outputFile="testDocs/clover.xml"/ -->
            <!-- crap4j outputFile="testDocs/crap4j.xml" threshold="50"/ -->
            <html outputDirectory="testDocs" lowUpperBound="60" highLowerBound="80"/>
            <!-- php outputFile="testDocs/coverage.php"/ -->
            <!-- text outputFile="testDocs/coverage.txt" showUncoveredFiles="false" showOnlySummary="false"/ -->
            <!-- xml outputDirectory="testDocs"/ -->
        </report>
    </coverage>
    <logging>
        <!-- Remove or comment after your own choice-->
        <!-- All logs will be saved in 'testDocs' folder -->
        <!-- junit outputFile="testDocs/junit.xml"/ -->
        <!-- teamcity outputFile="testDocs/teamcity.txt"/ -->
        <!-- testdoxHtml outputFile="testDocs/testdox.html"/ -->
        <!-- testdoxText outputFile="testDocs/testdox.txt"/ -->
        <!-- testdoxXml outputFile="testDocs/testdox.xml"/ -->
    </logging>
</phpunit>
